<header>
    <nav class="nav-media navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a [routerLink]="['/']" class="navbar-brand link-light">
                <img src="https://icongr.am/entypo/baidu.svg?size=40&color=ffffff"> Maskoto
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a [routerLink]="['/About']" class="nav-link" aria-current="page">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/Login']" class="nav-link" href="">Comunidad</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/Contact']" class="nav-link" href="#contactMe">Contacto</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>
