<section class="container">
  <!-- Equipo -->

  <div class="row rowTeam m-5 pt-5 p-3 text-white fw-bolder text-center">
    <h2 class="p-3">Nuestro Equipo</h2>
    <p class="p-2">
      ‎Nuestro objetivo es proporcionar la mejor atención veterinaria posible en
      un ambiente agradable, profesional y relajado‎
    </p>
    <div class="row">
      <div class="d-flex justify-content-center flex-wrap">
        <div *ngFor = "let card of users">
          <div class="col-12 p-5">
            <h3>{{card.firstName }}</h3>
            <img src = "{{ card.picture }}" ><br>
            <button class="btn mt-3"> Ver Más </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testimonios -->

  <app-testimonio [PersonT]="person"></app-testimonio>  

  <!-- Agregar testimonio -->

  <div class="row rowTeam m-5 pt-5 text-center">
    <h3 class="text-white">Ingresa tu testimonio</h3>
    <div class="col-12 p-5 m-auto inputs ">
      <div class="form-floating mb-3">
        <input type="text" [(ngModel)]="nombreT" class="form-control" id="floatingInput" placeholder="Ingrese su nombre">
        <label for="floatingInput">Nombre</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" [(ngModel)]="locationT" class="form-control" id="floatingLocation" placeholder="Ingrese su Localidad">
        <label for="floatingLocation">Localidad</label>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" [(ngModel)]="contentT" placeholder="Ingrese su testimonio" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Mensaje</label>
      </div>
      <button class="btn" (click)="AgregarTestimonio()" >Agregar Testimonio</button>
    </div>
  </div>
</section>