.rowTeam {
    background-color: #8ecae6; 
    box-shadow: 0 0 10px 2px #3a3a3a;
    border-radius: 10px;
}

.cardUser {
    border-radius: 10px;
    margin: auto;
    background-color: #219ebc;
    max-width: 400px;
    width: 100%;
    min-height: 224px;
}
@media (max-width: 767px) {
    .cardUser {
        width: auto;
    }
}