<div class=" rowTeam m-5 text-center text-white ">
  <h3 class="p-5">Testimonios de nuestros clientes</h3>
  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let cardUser of PersonT">
      <ng-template carouselSlide>
        <div class="cardUser p-2">
          <h5>- {{ cardUser.name }}</h5>
          <p>De {{ cardUser.location }}</p>
          <p class="fw-bolder">"{{ cardUser.content }}"</p>
        </div>
      </ng-template>
    </ng-container>
  
  </owl-carousel-o>
</div>