<!-- INICIO -->

<section class="container-fluid p-0">
  <span class="row imgHero text-center text-white d-flex justify-content-start align-items-center fw-bolder">
    <span class="col-5">
      <h1 class="title">
        ‎Trabajamos con usted para ayudar a su mascota a mantenerse saludable,
        feliz y divertida‎
      </h1>
      <button class="btn text-white rounded-pill btn-lg p-3">Ver más</button>
    </span>
  </span>

  <!-- AboutVet -->

  <div class="row pt-5 m-5 rowAbout">
    <h2 class="text-center text-white fw-bolder fs-1 mb-5">
      Cuidamos a tu mascota como si fuera la nuestra
    </h2>
    <div class="d-flex justify-content-around flex-wrap">
      <div class="p-0">
        <img class="img-fluid" src="../../../../assets/imagenes/eric-ward-ISg37AI2A-s-unsplash.jpg">
      </div>
      <div class=" ps-5 pe-5 text-white fs-4">
        <h3 class="fw-bolder pt-3 fs-2">Nuestro Objetivo</h3>
        <p>
          ‎Utilizando un enfoque centrado en la familia, Veterinaria Maskoto
          trabaja en asociación con los padres de mascotas para entender mejor la
          circunstancia única de cada mascota, para proporcionar atención
          compasiva y medicina progresiva a cada uno de nuestros pacientes.‎
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus
          perspiciatis ipsa cum sapiente iste sunt laudantium ducimus debitis.
          Similique iste in facilis, vitae atque quisquam at minima laborum
          veritatis reprehenderit?
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus
          perspiciatis ipsa cum sapiente iste sunt laudantium ducimus debitis.
          Similique iste in facilis, vitae atque quisquam at minima laborum
          veritatis reprehenderit?
        </p>
      </div>
    </div>
  </div>
    
    <!-- Services -->

    <div class="row pb-5 m-5 rowAbout">
      <h2 class="text-center text-white p-4">Servicios</h2>
      <div class="d-flex justify-content-around flex-wrap">
        <div class="p-0">
          <img class="img-fluid" src="../../../../assets/imagenes/cristian-castillo-73pyV0JJOmE-unsplash.jpg">
        </div>
        
      </div>
      
    </div>

</section>
